
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

.input {
  font-size: 16px;
  // Capitalized to prevent Sass
  // thinking it's the Sass max()
  font-size: Max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  /*max-width: 150px;*/
  width: 45%;
  margin-top: 3px;
}

.input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 3px solid transparent;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

input[type="file"] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}

textarea.input {
  resize: vertical;
}

.wider {
    max-width: 314px !important;
    width: 314px;
}

.wrong {
  border-color: #FF0000 !important;
}

.jumbo {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
}

.sam {
  width: 75%;
}